{% extends 'base.html.twig' %}

{% block body %}
    <div class="row m-2">
        <h1 class="h3 mb-3 font-weight-normal">Oups, une erreur est survenue.</h1>

        {{ message }}

        <div class="d-flex justify-content-end">
            <a href="{{ path('homepage') }}" class="btn btn-info">Retour à la page d'accueil</a>
        </div>
    </div>
{% endblock %}
