{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger my-2">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="container">
        <div class="row">
            <h4 class="col-12 text-center py-2">Se connecter</h4>
        </div>

        <div class="row">
            <div class="col">
                <form action="{{ path('security_login') }}" method="post" class="text-center">
                    <label for="username">Nom d'utilisateur</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" />

                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" name="_password" />

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <button class="btn btn-success" type="submit">Se connecter</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
